# Copyright (c) 2026 秦屿泊 (@qinyubo)
# SPDX-License-Identifier: MIT

[run]
branch = True
source =
    accounts
    handlers
    payments
    reminders
    storage
    bot_main
    localization
    migrate_runtime_data
    settings

[report]
show_missing = True
skip_covered = False
precision = 1
exclude_also =
    if __name__ == ["']__main__["']:
    raise NotImplementedError

[html]
directory = .pytest_cache/htmlcov

[xml]
output = .pytest_cache/coverage.xml

[json]
output = .pytest_cache/coverage.json
